/*
 * vars
 */

/*
 * Style
 */
#presentation

  &-title
    color: #fff
    text-shadow: 0 0 1em rgba(#000, .3)
    font-size: 8em
    font-weight: bold
    margin-right: 1em
    @media screen and (max-device-width: 768px)
      font-size: 7em
      padding: 0.2em
    @media screen and (min-device-width: 769px) and (max-device-width: 1024px)
      font-size: 4em

	&-author
	&-difficulty
		display: inline-block

	&-difficulty
		&::before
			content: "-"
			margin: 0 1em
