/*
 * Vars
 */
$number-color = #DFEC51
$instruction-color = #FFF

.instruction
  position: relative
  margin: 0.5em
  padding: 4em 0 1em
  font-size: 1.2em
  line-height: 1.5em
  color: $instruction-color
  width: 20%
  @media screen and (max-device-width: 600px)
    font-size: 2em
    width: 28%

  &::before
    counter-increment: instruction
    content: counter(instruction)
    position: absolute
    top: 0.5em
    font-size: 2.5em
    color: $number-color

.title-icon
  color: $number-color
  font-size: 3em

#instruction
  padding: 3em 0
  @media screen and (max-device-width: 600px)
    padding:0 0 25em

  &-menu
    display: flex
    align-items: center
    width: 80%

  &-title
    // width: 15%
    margin-right: 0.5em
    font-size: 3em
    color: white
    text-transform: uppercase
    // border-bottom: 5px solid $number-color
    @media screen and (max-device-width: 600px)
      margin: 0.5em

#instructions
  position: relative
  top: -50em
  display: flex
  flex-wrap: wrap
  justify-content: flex-start
  counter-reset: instruction
  margin: 1em auto
  overflow-y: hidden
  height: 0
